<!-- blog/templates/blog/blog.html -->
{% extends "blog/base.html" %}

{% block content %}
    <nav>
            <a href="{% url 'inicio' %}">Inicio</a>
    </nav>
    <h2>
        Esta es mi primera pagina web.
    </h2>
    <p>Un simple blog por el momento y el como la estare usando apartir de ahora,
        para mostrarle al mundo los futuros proyectos que hago</p>
    
    <h2>11/07/2025</h2>
    <p>Estoy por finalizar la base de la pagina web, y ahora si subirla a produccion</p>
{% endblock %}
        