<!-- blog/templates/blog/sobre_mi.html -->
{% extends "blog/base.html" %}

{% block content %}
    <nav>
        <a href="{% url 'inicio' %}">Inicio</a>
    </nav>
    <h2>Hola mi nombre es Cesar Eli.
    </h2>
    <p>
        Aqui puedes conoser un poco de lo que hago y de lo que quiero dedicarme,  
        soy graduado de la carrera de tecnologias de la informacion en
        la universidad tecnologica de morelia. 
    </p>    
    <p>
        Escogi la carrera te TICS por mi pasion a las computadoras y al mudo de TI.
    </p>
    <p>
        Muchas gracias por visitar mi blog.
    </p>
    <p>
        
    </p>
{% endblock %}
